<h2>Classificação Final</h2>

    <table class="pc"> 
        <tr>
            <th class="w-1-5rem">#</th>
            <th class="w-12rem">Clube</th>
            <th class="w-1-5rem">Pts</th>
            <th class="w-1-5rem">J</th>
            <th class="w-1-5rem">V</th>
            <th class="w-1-5rem">E</th>
            <th class="w-1-5rem">D</th>
            <th class="w-1-5rem">GP</th>
            <th class="w-1-5rem">GC</th>
            <th class="w-1-5rem">+/-</th>
            <th class="w-1-5rem">%</th>
        </tr> 
        {% for row in classificacao_final %}
        <tr>
            <td>{{ row.pos }}</td>
            <td><a href="{{url_for('clubes', clube=row.slug_clube )}}">{{ row.clube }}</a></td>
            <td>{{ row.pts }}</td>
            <td>{{ row.j }}</td>
            <td>{{ row.v }}</td>
            <td>{{ row.e }}</td>
            <td>{{ row.d }}</td>
            <td>{{ row.gp }}</td>
            <td>{{ row.gc }}</td>
            <td>{{ row.saldo }}</td>
            <td>{{ row.aproveitamento }}</td>
        </tr>      
        {% endfor %}
    </table>
    <table class="mobile">
        <tr>
            <th class="w-8rem">Clube</th>
            <th>Pts</th>
            <th>J</th>
            <th class="w-4rem">V - E - D</th>
            <th class="w-4rem">GP - GC (+/-)</th>
        </tr>
        {% for row in classificacao_final %}
        <tr>        
            <td><a href="{{url_for('clubes', clube=row.slug_clube )}}">{{ row.clube }}</a></td>
            <td>{{ row.pts }}</td>
            <td>{{ row.j }}</td>
            <td>{{ row.v }} - {{ row.e }} - {{ row.d }}</td>
            <td>{{ row.gp }} - {{ row.gc }} ({{ row.saldo }})</td>
        </tr>       
        {% endfor %}
    </table>



</div>