<footer>
  <div class="grid-container box">
    <div>
      <h1>Sobre</h1>
      <p>Página dedicada a dados históricos e estatísticos sobre o futebol nordestino.</p>
    </div>
    <div>
      <h1>Links</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/competicoes">Competições</a></li>
      </ul>
    </div>
    <div>
      <hr>
      <p style="text-align: center"><a href="mailto:pericles.marques@outlook.com">pericles.marques@outlook.com</a> - 2022</p>
    </div>
  </div>

</footer>