<tr>
    <td>{{ row.data_ida }}<br>{{ row.data_volta }}</td>
    <td>{{ row.rodada_ida }}<br>{{ row.rodada_volta }}</td>
    <td>{{ row.mandante_ida }}<br>{{ row.mandante_volta }}</td>
    <td>{{ row.placar_ida }} <i>{{ row.obs_ida }}</i><br>{{ row.placar_volta }}<br><i>{{ row.obs_volta }}</i></td>
    <td>{{ row.visitante_ida }}<br>{{ row.visitante_volta }}</td>
    <td><a href="{{url_for('estadios', estadio=row.slug_local_ida )}}">{{ row.local_ida }}</a><br><a href="{{url_for('estadios', estadio=row.slug_local_volta )}}">{{ row.local_volta }}</a></td>
</tr>