<tr>
    <td>{{ row.Data_Ida }}<br>{{ row.Data_Volta }}</td>
    <td>{{ row.Rodada_Ida }}<br>{{ row.Rodada_Volta }}</td>
    <td>{{ row.Mandante_Ida }}<br>{{ row.Mandante_Volta }}</td>
    <td>{{ row.Placar_Ida }} <i>{{ row.Obs_Ida }}</i><br>{{ row.Placar_Volta }}<br><i>{{ row.Obs_Volta }}</i></td>
    <td>{{ row.Visitante_Ida }}<br>{{ row.Visitante_Volta }}</td>
    <td><a href="{{url_for('estadios', estadio=row.Slug_Local_Ida )}}">{{ row.Local_Ida }}</a><br><a href="{{url_for('estadios', estadio=row.Slug_Local_Volta )}}">{{ row.Local_Volta }}</a></td>
</tr>