<nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="/">🌞Futebol Nordestino</a>
      <!-- Example responsive navigation menu  -->
      <a class="show" href="#menu">☰</a><a class="hide" href="#hidemenu">☰</a>
      <ul class="menu-items">
        <li><a href="/competicoes">Competições</a></li>
        <li><a href="/estadios">Estádios</a></li>
        <li><a href="/clubes">Clubes</a></li>
        <li><a href="/jogadores">Jogadores</a></li>
    </ul>
    </div>
</nav>