<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ clube }}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>

    {% include 'include/title_n1.html' %}
  
    <div class="box">

      <div class="escudo">
        <img src="../../static/estadios/{{ foto }}.jpeg">
        <p>{{ nome_completo }}</p>
      </div>

      <div class="centro">
        <p>{{ capacidade }} pessoas</p>
        <p>{{ cidade }} / {{ estado }}</p>
      </div>


    </div>

    {% include 'include/footer.html' %}
  </body>
</html>