{% include 'include/header.html' %}

<body>

{% include 'include/title_n1.html' %}

<section>

    <h2>Competições</h2>
    <div class="grid-container">
        <a href="/competicoes/ne/1994">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 1994
            </div>
        </a>

        <a href="/competicoes/ne/1997">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 1997
            </div>
        </a>

        <a href="/competicoes/ne/1998">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 1998
            </div>
        </a>

        <a href="/competicoes/ne/1999">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 1999
            </div>
        </a>

        <a href="/competicoes/ne/2000">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2000
            </div>
        </a>

        <a href="/competicoes/ne/2001">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2001
            </div>
        </a>

        <a href="/competicoes/ne/2002">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2002
            </div>
        </a>

        <a href="/competicoes/ne/2003">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2003
            </div>
        </a>

        <a href="/competicoes/ne/2010">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2010
            </div>
        </a>

        <a href="/competicoes/ne/2013">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2013
            </div>
        </a>

        <a href="/competicoes/ne/2014">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2014
            </div>
        </a>

        <a href="/competicoes/ne/2015">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2015
            </div>
        </a>

        <a href="/competicoes/ne/2016">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2016
            </div>
        </a>

        <a href="/competicoes/ne/2017">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2017
            </div>
        </a>

        <a href="/competicoes/ne/2018">
            <div>
                <img src="/static/copa_ne.png" style="height:100px">
                <br>
                Copa do Nordeste - 2018
            </div>
        </a>


    </div>

    <h2>Clubes</h2>
    <div class="grid-container">
        
        {% for row in lista_clubes %}
            <div style="width:150px">
                <a href="/clubes/{{ row.slug }}">
                    <div>
                        <img src="/static/escudos/{{ row.slug }}.png" style="height:100px">
                        <br>
                        {{ row.clube }}
                    </div>
                </a>            
            </div>
        {% endfor %}

    </div>


</section>


<!-- Site footer -->
{% include 'include/footer.html' %}

</body>
</html>