{% include 'include/header.html' %}

<body>

{% include 'include/title_n1.html' %}

<section>

    <h2>Competições</h2>
    <div class="grid-container">

        <a href="/competicoes/ne/1994">
            <div>
                <img src="https://static.sbt.com.br/media/playlist/20180227142934/20181211164839/20190108115933.jpg" style="height:100px">
                <br>
                Copa do Nordeste - 1994
            </div>
        </a>
        
        
     

    </div>
</section>


<!-- Site footer -->
{% include 'include/footer.html' %}

</body>
</html>
