<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>

    {% include 'include/title_n3.html' %}  
  
    <div class="box">
      {% include 'include/dados.html' %}

      <!--Primeira fase (Pré)-->
      {% if pre1|length %}
        <h2>Primeira fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in pre1 %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in pre1 %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if pre1_2|length %}
        <h2>Primeira fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/matamata_th_pc.html' %}
            {% for row in pre1_2 %}
            {% include 'include/matamata_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in pre1_2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!--Segunda fase (Pré)-->
      {% if pre2|length %}
        <h2>Segunda fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in pre2 %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in pre2 %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}
      
      {% if pre2_2|length %}
        <h2>Segunda fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/matamata_th_pc.html' %}
            {% for row in pre2_2 %}
            {% include 'include/matamata_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in pre2_2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!--Terceira fase (Pré)-->
      {% if pre3|length %}
        <h2>Terceira fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in pre3 %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in pre3 %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if pre3_2|length %}
        <h2>Terceira fase (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/matamata_th_pc.html' %}
            {% for row in pre3_2 %}
            {% include 'include/matamata_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in pre3_2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!--Fase Preliminar-->
      {% if fase_preliminar_jogos|length %}
        <h2>Fase preliminar</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in fase_preliminar_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in fase_preliminar_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if fase_preliminar_jogos2|length %}
        <h2>Fase preliminar (Pré-Copa do Nordeste)</h2>
        <table class="pc"> 
            {% include 'include/matamata_th_pc.html' %}
            {% for row in fase_preliminar_jogos2 %}
            {% include 'include/matamata_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in fase_preliminar_jogos2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}





      {% if primeira_fase_jogos|length %}
        <h2>Primeira fase</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in primeira_fase_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in primeira_fase_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in primeira_fase_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}        
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in primeira_fase_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}        
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if primeira_fase_jogos2|length %}
        <h2>Primeira fase</h2>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in primeira_fase_jogos2 %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in primeira_fase_jogos2 %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>        
      {% else %}
      {% endif %}

      {% if grupo_a_jogos|length %}
        <h2>Primeira fase</h2>
        <h3>Grupo A</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_a_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_a_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_a_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}        
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_a_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}        
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      
      {% if grupo_b_jogos|length %}          
        <h3>Grupo B</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_b_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_b_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_b_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}        
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_b_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}        
          {% endfor %}
        </table>
      {% else %}
      {% endif %}


      {% if grupo_c_jogos|length %}
        <h3>Grupo C</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_c_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_c_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_c_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}        
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_c_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}        
          {% endfor %}
        </table>
      {% else %}
      {% endif %}


      {% if grupo_d_jogos|length %}
        <h3>Grupo D</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_d_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_d_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_d_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_d_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}


      {% if grupo_e_jogos|length %}
        <h3>Grupo E</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_e_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_e_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_e_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_e_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if grupo_f_jogos|length %}
        <h3>Grupo F</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_f_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_f_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_f_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_f_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}


      {% if grupo_e2_jogos|length %}
        <h2>Segunda fase</h2>
        <h3>Grupo E</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_e2_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_e2_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_e2_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_e2_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if grupo_f2_jogos|length %}
        <h3>Grupo F</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupo_f2_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupo_f2_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_f2_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_f2_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if grupo_a_cruzado_classificacao|length %}
        <h3>Primeira fase</h3>
        <table class="pc"> 
            {% include 'include/partidas_th_pc.html' %}
            {% for row in grupos_cruzados_jogos %}
            {% include 'include/partidas_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in grupos_cruzados_jogos %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
        <br>
        <h3>Grupo A</h3>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_a_cruzado_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_a_cruzado_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
        <h3>Grupo B</h3>
        <table class="pc"> 
            {% include 'include/classificacao_th_pc.html' %}    
            {% for row in grupo_b_cruzado_classificacao %}
            {% include 'include/classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/classificacao_th_mobile.html' %}    
          {% for row in grupo_b_cruzado_classificacao %}
          {% include 'include/classificacao_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!-- SEGUNDOS COLOCADOS -->
      {% if segundoscolocados|length %}        
        <h3>Segundos Colocados</h3>
        <i>Apenas os 3 melhores segundos colocados, somando todos os grupos, irão avançar de fase. Os primeiros colocados de cada grupo têm classificação garantida para a 2ª fase da competição.<br><br></i>
        <table class="pc"> 
            {% include 'include/segundos_classificacao_th_pc.html' %}
            {% for row in segundoscolocados %}
            {% include 'include/segundos_classificacao_td_pc.html' %}
            {% endfor %}
        </table>
        <table class="mobile">
            {% include 'include/segundos_classificacao_th_mobile.html' %}
            {% for row in segundoscolocados %}
            {% include 'include/segundos_classificacao_td_mobile.html' %}
            {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!--OITAVAS DE FINAL-->
      {% if of|length %}
        <h2>Oitavas de finais</h2>      
        <table class="pc"> 
          {% include 'include/partidas_th_pc.html' %}
          {% for row in of %}
          {% include 'include/partidas_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in of %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if of2|length %}
        <h2>Oitavas de finais</h2>      
        <table class="pc"> 
          {% include 'include/matamata_th_pc.html' %}
          {% for row in of2 %}
          {% include 'include/matamata_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in of2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!-- QUARTAS DE FINAL-->
      {% if qf|length %}
        <h2>Quartas de finais</h2>      
        <table class="pc"> 
          {% include 'include/partidas_th_pc.html' %}
          {% for row in qf %}
          {% include 'include/partidas_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in qf %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if qf2|length %}
        <h2>Quartas de finais</h2>      
        <table class="pc"> 
          {% include 'include/matamata_th_pc.html' %}
          {% for row in qf2 %}
          {% include 'include/matamata_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in qf2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!-- SEMIFINAL-->
      {% if sf|length %}
        <h2>Semifinais</h2>      
        <table class="pc"> 
          {% include 'include/partidas_th_pc.html' %}
          {% for row in sf %}
          {% include 'include/partidas_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in sf %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      {% if sf2|length %}
        <h2>Semifinais</h2>      
        <table class="pc"> 
          {% include 'include/matamata_th_pc.html' %}
          {% for row in sf2 %}
          {% include 'include/matamata_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in sf2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}

      <!-- FINAL-->
      {% if final|length %}
        <h2>Final</h2>      
        <table class="pc"> 
          {% include 'include/partidas_th_pc.html' %}
          {% for row in final %}
          {% include 'include/partidas_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/partidas_th_mobile.html' %}
          {% for row in final %}
          {% include 'include/partidas_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}
      
      {% if final2|length %}
        <h2>Final</h2>      
        <table class="pc"> 
          {% include 'include/matamata_th_pc.html' %}
          {% for row in final2 %}
          {% include 'include/matamata_td_pc.html' %}
          {% endfor %}
        </table>
        <table class="mobile">
          {% include 'include/matamata_th_mobile.html' %}
          {% for row in final2 %}
          {% include 'include/matamata_td_mobile.html' %}
          {% endfor %}
        </table>
      {% else %}
      {% endif %}
      

      {% include 'include/campeao.html' %}

      {% include 'include/classificacao_final.html' %}
    </div>

    {% include 'include/footer.html' %}

    


    



  </body>
</html>